pipeline/ExecuteDDL.json
{
	"name": "ExecuteDDL",
	"properties": {
		"activities": [
			{
				"name": "ExecuteDDL",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Readfile",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SQL_DB_LS",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "@activity('Readfile').output.Response"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Readfile",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://github.com/Ramkumar9298/Ramkumar9298/blob/main/CreateTable",
					"method": "GET"
				}
			}
		],
		"annotations": []
	}
}